.container {
    width: 800;
}
.link {
    text-decoration: none;
    box-shadow: none;
}
.clr-red {
    color: red;
}
.bgColor {
    background: linear-gradient(45deg, #2196F3 30%, #21CBF3 90%)
}
.ml-auto {
    margin-left: auto
}